:root {
  --mainBrown: #2d1ef1;
  --mainRed: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --mainRed: #e33023;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important; /* you have to use important flag w/ bootstrap so it doesnt overrie this css setting */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-red {
  color: var(--mainRed);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainRed);
  font-size: 2rem;
}
